<html>
	<body bgcolor='blue'>
		<table border='1' align='center'>
			<form action="/save_data_to_db/" method='GET'>
				<tr><th>Product Name</th><td><input type='text' name='pro_name' value='Enter Product Name'></td></tr>
				<tr><th>Product Bar Code Number</th><td><input type='text' name='pro_bar' value='Enter Product Bar Code'></td></tr>
				<tr><th>Price</th><td><input type='text' name='pro_price' value='Enter Product Price'></td></tr>
				<tr><th>Quantity</th><td><input type='text' name='pro_quantity' value='Enter Product Quantity'></td></tr>
				<tr><td colspan='2' align='center'><input type='submit' value='Add to DB'></td></tr>
			</form>
		</table>
	</body>
</html>